/* Стили контейнеров */
.container, .large_container, .small_container, .form_container{
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.container{
  max-width: 1086px;
}
.large_container{
  max-width: 1330px;
}
.small_container{
  max-width: 770px;
}
.form_container{
  max-width: 530px;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}